error.log
api-node/node_modules/**
*.idea
api-node/dist/**
api-node/env/**
api-node/env/.env.local
front/node_modules/**
front/public/vendor
front/public/css
front/public/scss
front/public/image
front/public/img
front/public/backup
.css
.scss