error.log
node-module/node_modules/**
*.idea
node-module/dist/**
node-module/env/**
node-module/env/.env.local
front/node_modules/**
front/public/vendor
front/public/css
front/public/scss
front/public/image
front/public/img
front/public/backup
.css
.scss