error.log
node-module/node_modules/**
*.idea
node-module/dist/**
node-module/env/**
node-module/env/.env.local
front/node_modules/**
front/static/vendor
front/static/css
front/static/scss
front/static/image
front/static/img
front/static/backup
front/static/js/env.js
.css
.scss