{
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "printWidth": 100,
        "singleQuote": true,
        "semi": true,
        "tabWidth": 2,
        "trailingComma": "all",
        "useTabs": false
      }
    }
  ]
}