

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(https://fonts.googleapis.com/css?family=Oswald);

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@import url(https://fonts.googleapis.com/css?family=Pacifico);


body { 
    height: 100%; width: 100%; 
    background-color: #333; 
    color: whitesmoke; 
    font-size: 16px; 
    font-family: 'Lato';
  } 

#email-div {
  margin: 0 auto;
  max-width: 520px;
  text-align: center;
}

#email-div h1 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0.3125em 0;
  background-color: #111111;
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.style-3 {
  font-family: "Oswald", sans-serif;
}
.style-3:before {
    content: "";
    border-top: 1px solid white;
    position: absolute;
    width: 300%;
    top: 35%;
    left: -100%;
    z-index: -999;
  }
  .style-3:after {
    content: "";
    border-bottom: 1px solid white;
    position: absolute;
    width: 300%;
    bottom: 35%;
    left: -100%;
    z-index: -999;
  }
h1 { font-size: 32px; margin-bottom: 50px;}
h2 { font-size: 26px; }
h3 { font-size: 18px; }
p { margin: 15px 0; line-height: 24px; color: gainsboro; }
a { color: dodgerblue; text-decoration: none; border-bottom: 1px dotted; }
a:hover { color: tomato; }

.container { 
  max-width: 960px; 
  height: 100%;
  margin: 0 auto; 
  padding: 20px;
  text-align: center;
}
h1.sixth { position: relative; }

h1.sixth:before,
h1.sixth:after {
  content: '[';
  display: inline-block;
  position: relative;
  top: 1px;
  height: 100%;
  font-size: 1.25em;
  color: tomato;
  
  transition: all 0.5s ease;
}

h1.sixth:after { content: ']'; }

h1.sixth:hover:before { 
  transform: translateX(-5px);
}

h1.sixth:hover:after { 
  transform: translateX(5px);
}